.detailPage-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 50px 30px;
    border: 1px solid #e3e3e3;
    margin: 0 10%;
    .product-blur{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0; left: 0; right: 0; bottom: 0;
        background: #ffffffaa;
        pointer-events:none;
        span{
          font-weight: bold;
          color: #000000bc;
          font-size: 30px;
        }
      }
}
/* .delete{
    width: 10px;
    height: 10px;
    background: #e9ecef;
    opacity: 1;
    position: relative;
    

} */
#back-btn{
    display: flex;
    margin: 20px auto;
    padding: 5px 8px;
    border: none;
    box-shadow: 0 1px 5px #ed6363;
    border-radius: 7px;
    background: #fff;
    color: #ed6363;
}
#image-box{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    img{
        height: 100%;
    }
}
#profile-box{
    padding: 16px;
    margin: 8px 0 0 0;
    border-bottom: 1px solid #e9ecef;
    display: flex;
    align-items: center;
    img{
        width: 30px;
        height: 30px;
    }
    .product-seller{
        font-size: 15px;
        margin-left: 8px;
        font-weight: 600;
    }
}
.contents-box{
    width: 100%;
    max-width: 700px;
    padding: 16px;
    padding-left: 100px;
    text-align: left;
    .content-item{
        margin-bottom: 8px;
    }
    .title{
        display: inline-block;
        padding-right: 20px;
        margin-right: 30px;
    }
    #name{
        font-size: 25px;
        margin-bottom: 20px;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }
    #price{
        font-size: 16px;
        font-weight: 600;
    }
    #createAt{
        font-size: 12px;
        color: rgba(204,204,204);
        margin-top: 20px;
    }
    
    #payBtn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        .pay-btn{
            width: 250px;
            height: 50px;
            @media (max-width: 1080px) {
                width: 150px;
            }
            background-color: #fff;
            border: 1px solid #000;
            color: #000;
        }
        .payment{
            margin: 16px 8px 16px 0;
            background: #ed6363;
            color: #fff;
            border: none;

        }
    }
    #description{
        font-size: 15px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;

    }
}







//애니메이션
.loadingIcon{animation-name: rotate; animation-iteration-count: infinite; animation-duration:1s;animation-timing-function: linear;}

@keyframes rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media (max-width: 780px) {
    .delete{
        pointer-events: all;
    }
}