*{box-sizing: border-box;}
$tablet-max: 1023px;
$desktop-min: 1440px;

.success-color{color: #60d119;}
.error-color{color: red;}


 @mixin tablet{
  @media (max-width: $tablet-max) {
    @content;
  }
} 
@mixin desktop{
  @media (max-width: $desktop-min){
    @content;
  }
}

ul{
  list-style: none;
  a{
    text-decoration: none;
  }
}
.App{
  /* .sssss{width: 50px !important;}
  .ant-form-item-label{
    width: 30px;
  }
  .ant-col-8{
    flex: 0 0 20%;
    max-width: 20%;
  } */
    
  overflow: hidden;
  //HEADER
  .header{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
    background: rgba(255,255,255,.8);
    &.h-fixed{
      position: fixed;
      top: 0;
      left: 0;
    }
   .container{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .signArea{
          .signList{
            display: flex;
            justify-content: space-between;
            li{
              &::after {
                content: "";
                background: #867070;
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: -5px;
                transform: scaleX(0);
                transition: .3s;
              }
              &:hover{
                color: #ed6363;
                font-weight: 500;
                  
              }
              &:hover::after{
                transform: scaleX(1);
              }
              position: relative;
            }
            .sign-in{
              margin-right: 10px;
              width: 3rem;
              cursor: pointer;
              
            }
            .sign-up{
              a{
                color: #000;
                &:hover{
                  color: #ed6363;
                  font-weight: 500;
                    
                }
              }
            }
          }
        }
        .logo{width: 150px; fill: #ed6363;}
        img.svg-img {
           /* 원하는 색상으로 설정 */
      }
        .nav{
          .listWrap{
            display: flex;
            list-style: none;
            li{
              margin: 0 20px;
              box-sizing: border-box;
              &.mobileSgin{
                display: none;
                @include tablet{
                  display: block;
                  .sign-in{
                    cursor: pointer;
                    &:hover{
                      color: #ed6363;
                    }
                  }
                }
              }
              a{
                color: #222;
                text-decoration: none;
                position: relative;
                  
                &::after {
                  content: "";
                  background: #867070;
                  width: 100%;
                  height: 1px;
                  position: absolute;
                  left: 0;
                  bottom: -5px;
                  transform: scaleX(0);
                  transition: .3s;
                }
                &:hover{
                  color: #ed6363;
                  font-weight: 500;
                    
                }
                &:hover::after{
                  transform: scaleX(1);
                }
              }
            }
          }
        }
        .mobileBar{display: none; 
          .hamburerIcon{font-size: 30px;}
          .nav{display: block; position: absolute; top: 100px; left: 0;background: rgba(255,255,255,.8);
            width: 100%;
            ul{
              flex-direction: column;
               padding: 0;
               /* background: rgba(255,255,255,.8) */
              li{
                border-bottom: 1px solid #ddd;
                padding: 10px 0;
                
              }
            }
          }
        }
        .btn{
            background: none;
            width:80px;
            border-radius: 5px;
            padding: 10px 5px;
        }
  }
    
  }


  //MD PICK
  .mdpick{
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;
      padding: 100px 0 50px;
      h2{
        position: relative;
        z-index: 2;
        &::after{
          z-index: -1;
          position: absolute;
          top: 0px;
          left: 0px;
          content: "";
          width: 50px;
          height: 15px;
          background: #f9baba;
        }
      }
  }
  //MD PICK
  .mdList{
    padding: 0 20px;
    ul{
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li{
        position: relative;
        width: 30%;
        height: 500px;
        overflow: hidden;
        /* border-radius: 15px 15px 0 0; */
        box-shadow: 10px 0px 15px #d7d7d7;
        .md-img{
          img{
            width: 101%;
            height: 500px;
          }
        }
        .md-info{
          position: absolute;
          top: 0;
          left: 0;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          display: flex;
          color: #222;
          background: #ffffffb3;
          width: 100%;
          height: 100%;
          transition: .5s;
          opacity: 0;
          
          
          .md-name{display: block; margin-bottom: 10px;}
          .md-price{display: block; }
        }
        &:hover .md-info{
          opacity: 1;
        }
      }
    }
  }


  //배너
  /* .banner{
    width: 100%;
    height: 600px;
    font-size: 50px;
    background:#fde1cb;
    opacity: .6;
    background-attachment: fixed;
    background-size: 100%;
    box-shadow: 3px 0px  20px #fff;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    text-shadow: -3px -5px 3px #727272;
    color: #fff;
  } */

  //PRODUCKS
  .products {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    padding: 100px 50px;
    box-sizing: border-box;
    .products-tab{
      width: 100%;
      text-align: center;
      margin: 100px 0;
      margin-top: 50px;
      .products-tab-menu{
        width: 50%;
        .products-tab-item{
          width: 33%;

        }
      }
    }
    .productsBtnBox{
      display: block;
      text-align: center;
      margin-top: 30px;
      .productsBtn{
        
        background: none;
        font-size: 35px;
        border: 1px solid #ddd;
        padding: 6px 30px 10px;
        border-radius: 15px;
        svg{
          vertical-align: middle;
        }
      }
    }
    /* Flexbox를 사용하여 제품들을 각 행에 4개씩 정렬 */
    .p-list {
      display: flex;
      flex-wrap: wrap; /* 필요할 때 줄바꿈 */
      justify-content: space-between;
      box-sizing: border-box;
      
        .product-card {
          display: inline-block;
          width: 23%; /* 4개가 옆으로 정렬되므로 각 제품 카드의 너비 조정 */
          margin-bottom: 50px; /* 각 행 사이에 간격을 줌 */
          box-sizing: border-box;
          position: relative;
          
          @include tablet{
            width: 30%;
          }
          
          .product-blur{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0; left: 0; right: 0; bottom: 0;
            background: #ffffffaa;
            pointer-events:none;
            span{
              font-weight: bold;
              color: #000000bc;
              font-size: 30px;
              text-align: center;
              padding-bottom: 18%;
            }
          }
          a{
            
            text-decoration: none;
            color: #222;
            .product-imgBox{
              height: 450px;
              .product-img {
                height: 100%;
                width: 100%;
              }
            }
    
          .product-contents {
            display: flex;
            flex-direction: column;
            padding: 5px;
    
            .product-name {
              font-size: 20px;
              color: #333;
            }
    
            .product-price {
              font-size: 14px;
              color: #000;
            }
    
            .product-seller {
              margin-top: 20px;
              display: flex;
              justify-content: space-between;
    
              .product-avatar {
                color: #663131;
                font-size: 20px;
              }
    
              .seller {}
            }
          }
        }
      }
    }
  }
    h2{
      position: relative;
      z-index: 2;
      font-size: 45px;
      &::after{
        z-index: -1;
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        width: 50px;
        height: 15px;
        background: #ffe8be;
      }
    }

    
  }
  .swiper-box{
    width: 100%;
    height: auto;
      .swiper-pagination-horizontal{
        bottom: 30px !important;
        
      }
      .swiper-pagination-bullet{
        
        border: 1px solid #fff;
      }
      .mainImg{
        width: 100%;
        object-fit: contain;
        padding: 20px;
        box-sizing: border-box;
        height: 80vh;
        img{
          width: 100%;
          height: 100%;
        }
        
      }
      .swiper-button-prev{
        color: #fff;
        text-shadow: 1px 1px 3px #222;
        left: 30px;
      }
      .swiper-button-next{
        color: #fff;
        text-shadow: 1px 1px 3px #222;
        right: 30px;
      }
  }
  .foot-bg{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(./img/banner23.jpg);
    background-repeat: no-repeat;
    background-size: 100%/100%;
    
    .container{
      
      display: flex;
      width: 100%;
      max-width: 1740px;
      height: 100%;
      margin: 0 auto;
      padding: 0 50px;
      justify-content: space-between;
      box-sizing: border-box;
      .foot-addr{
        display: flex;
        flex-direction: column;
        height: 100%;
        color: #ffffffd2;
        h3{
          height: 50%;

          img{
            width: 100%;
            height: 100%;
            fill: #fff;
            filter: brightness(0) invert(1);
          }
          
        }
      }
      .foot-menu{
        text-align: center;
        box-sizing: border-box;
        padding-top: 50px;
        width: 60%;
        >ul{
          list-style: none;
          display: flex;
          overflow: hidden;
          
          align-items: center;
          box-sizing: border-box;
          >li{
            height: 200px;
            width: 30%;
            >a{
              font-size: 20px;
              font-weight: bold;
              text-decoration: none;
              color: #fff;
            }
            ul{
              box-sizing: border-box;
              margin-top: 10px;
              padding: 0;
              list-style: none;
              li{
                font-size: 20px;
                padding: 5px 0;
                /* padding-left: 10px; */
                a{
                  text-decoration: none;
                  color: #ffffffd2;
                  
                }
              }
            }
          }
        }
      }
    }
  }
  .magazine{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 0 50px ;
    box-sizing: border-box;
    margin-bottom: 50px;
    
    .container{
      width: 100%;
      height: 100%;
      .titleWrap{
        width: 1440px; margin: 0 auto;
        h2{
          position: relative;
          z-index: 2;
          &::after{
            z-index: -1;
            position: absolute;
            top: 0px;
            left: 0px;
            content: "";
            width: 50px;
            height: 15px;
            background: #fcdcb2;
          }
        }
      }
      .magazineList{
        position: relative;
        height: 608px;
        display: flex;
            .magazine-box{
              position: relative;
              width: 298px;
              height: 100%;
              box-shadow: 0 3px 12px #ddd;
              background: #fff;
              padding: 20px;
              font-size: 50px;
              span{position: absolute; top: 0; left: 45%;}
              .m{top: 60px;left: 25%; color: #ed6363;}
              .a1{top: 120px;left: 60%;}
              .g{top: 180px;left: 40%;}
              .a2{top: 230px;left: 35%; color:rgb(140, 228, 89);}
              .z{top: 300px;left: 55%;}
              .i{top: 360px; left: 44%;}
              .n{top: 420px;left: 56%; color: #fcb063;}
              .e{top: 480px;}
            }
            .swiper-wrap{
              width:100%;
              
              position: absolute;
              left:320px; 
              display: flex;
              .mg-img{
                height: 100%;
                img{
                  width:100%;
                  height: 608px;
                }
              }
            }
          
        }
    }
  }
  .signWrap{
    ul{list-style: none;}
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .flexBox{display: flex; align-items: center; height: 3.6rem;}
    .signUpArea{
      padding:1rem 5rem 5rem 5rem;
      border: none;
      margin: 0 auto;
      max-width: 1000px;
      .label-style{
        display: block; margin-bottom: .5rem;font-size: 1.0rem;
      }
      .input-style{
        width: 35rem; height: 3.6rem;border: 1px solid #ddd;margin-right: .5rem; padding: .3rem 1rem;font-size:1.3rem;box-sizing: border-box;
      }
      .input-style2{
        height: 3.6rem;border: 1px solid #ddd; width:24.1rem; font-size:1.3rem;
      }
      .btn-style{
        width: 20%; height: 3.6rem; background: #fff; border: 1px solid #ddd; color: #959595;box-sizing: border-box;
      }
      .submit-style{
        width: 100%; height: 5.0rem; background: #644b36; color: #fff;font-size: 1.5rem;
        border: none;
      }
      .select-style{
        width: 10.0rem; height: 3.6rem; border: 1px solid #ddd;
      }
      .help-style{
        margin-top: .5rem; display: block;font-size: .8rem; color: #959595; letter-spacing: 1px;
      }
      .area-style{
        padding-left: 2rem;
        padding-bottom: 20px;
      }
      .Mes-style{
        display: block;
      }
      .btn-style{
        &:hover{
          color: #000;
        }
      }
      .termsBox{
        height: 15.0rem; overflow-y: scroll; -ms-overflow-style: none; scrollbar-width: none; padding: 2.0rem; border: 1px solid #959595; margin: 1.0rem 0 2.0rem; 
        &::-webkit-scrollbar{display: none;}
      }
      .terms-section h3{margin-top: 30px;}
    }
    .submit-section{
      display: flex; justify-content: center;
    }
  }


  @include desktop{
    
    .header{
      width: 100%;
      height: 100px;
      border-bottom: 1px solid #ccc;
      background: rgba(255,255,255,.8);
      .container{
            width: 100%;
            padding: 0 2rem;
            box-sizing: border-box;
      }
      
    }
    .mdpick{
      width: 100%;
      margin: 0 auto;
      padding: 100px 0;
      
    }
    .banner{
      p{
        margin: 0;
        font-size: 60%;
        height: 100%;
        line-height: 200px;
        box-sizing: border-box;
      }
    }
    .products{
      width: 100%;
      padding: 80px 20px;
      box-sizing: border-box;
      .p-list{
        width: 100%;
      }
    }
    
    
  }
  @include tablet{
    .header{

      .container{
        width: 100%;
        padding: 0 2rem;
        box-sizing: border-box;
        
        h1{order:2}
        .logo{order: 2;}
        .nav{
          display: none;
        }
        .mobileBar{display: block !important; order: 1;}
        .btn{
            background: none;
            width:80px;
            border-radius: 5px;
            padding: 10px 5px;
            order: 3
        }
        .signArea{
          display: none;
        }
        
      }
    }
    .products{
      padding: 30px 60px;
      box-sizing: border-box;
      
    }
  } 
